/* Consult Banner Styling */
.consult_banner_section_inner h2{
    display: inline;
    text-shadow: 2px 2px black;
}
.consult_banner_section_inner a{
    float: right;
}

/* sTATS sECTION sTYLING */

.construction_index .stats_section_inner:hover i{
    color: #232323 !important;
}

/* Customer Review Section */
.customer_feedback_section{
    background: url(../../images/pgf/dark/pgf12.png) !important;
    background-size: cover !important;
    background-attachment: fixed !important;
}

/* Side Section Styling */
.construction_index .half_section_right .half_section_picture{
    background: url(../../images/pgf/pgf1.jpg) !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;

}

/*media queries */
@media only screen and (max-width: 992px) {
    .consult_banner_section_inner h2{
        display: block;
    }
    .consult_banner_section_inner a{
        float: none;
    }
    .consult_banner_section_inner{
        text-align: center;
    }
}

.btn1:hover {
    color: #74ce7e;
    background-color: black;
    font-size: 18px;
}